<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link href="../static/style.css" rel="stylesheet">
  <title>Biswajit Basak's Resume</title>
</head>

<body>
  <div class="resume">
    <div class="column">
      <section class="profile">
        <h1>{{main_dict['ABOUT_ME'][0]['NAME']}}</h1>
        <p><em>{{main_dict['ABOUT_ME'][0]['HEADING']}}</em></p>
        <img alt="" src="/static/images/photo.jpg">
      </section>

      <section class="section1">
        <h2>About Me</h2>
        <section class="objectives">
          <p>{{main_dict['ABOUT_ME'][0]['DESCRIPTION']}}</p>
        </section>

        <br><br><br>

        <section class="EDUCATION">
          <h2>Education</h2>
          <ul class="timeline">
            {% for education in main_dict['EDUCATION'] %}
            <li class="event">
              <span class="duration">From {{education['START_DATE']}} To {{education['END_DATE']}}
                ({{education['DURATION']}}) </span>
              <div class="content">
                <h3>{{education['DEGREE']}}</h3>
                <p><em>{{education['UNIVERSITY']}}</em></p>
                <p>CGPA / Percentage: {{education['SCORE']}}</p>
              </div>
            </li>
            {% endfor %}
          </ul>
        </section>

        <section class="experience">
          <h2>experience</h2>
          <ul class="timeline">

            {% for i in main_dict['EXPERIENCE'] %}

            <li class="event">
              <span class="duration">From {{i['START_DATE']}} To {{i['END_DATE']}} ({{i['DURATION']}})</span>
              <div class="content">
                <h3>{{i['DESIGNATION']}}</h3>
                <p><em>{{i['COMPANY']}}, {{i['LOCATION']}}</em></p>
                <p>
                  {{i['DETAILS']}}
                </p>
              </div>
            </li>
            {% endfor %}

          </ul>
        </section>
      </section>
    </div>

    <div class="column">
      <section class="contact">
        <h2>Profile</h2>
        <br>
        <ul>

          <li><a href="mailto:{{main_dict['ABOUT_ME'][0]['EMAIL']}}">{{main_dict['ABOUT_ME'][0]['EMAIL']}}</a>
            <img alt="" src="/static/images/mail-64.png">
          </li>
          <li><a href="https://www.{{main_dict['ABOUT_ME'][0]['LINKEDIN']}}"
              target="_blank">{{main_dict['ABOUT_ME'][0]['LINKEDIN']}}</a>
            <img alt="" src="/static/images/linkedin-5-64.png">
          </li>
          <li><a href="https://{{main_dict['ABOUT_ME'][0]['GIT']}}"
              target="_blank">{{main_dict['ABOUT_ME'][0]['GIT']}}</a>
            <img alt="" src="/static/images/github-10-64.png">
          </li>
          <li><a href="https://www.{{main_dict['ABOUT_ME'][0]['LEETCODE']}}"
              target="_blank">{{main_dict['ABOUT_ME'][0]['LEETCODE']}}</a>
            <img alt="" src="/static/images/kaggle.png">
          </li>
          <li><a href="https://www.{{main_dict['ABOUT_ME'][0]['YOUTUBE']}}"
              target="_blank">{{main_dict['ABOUT_ME'][0]['YOUTUBE']}}</a>
            <img alt="" src="/static/images/kaggle.png">
          </li>
        </ul>
      </section>

      <section class="section1">
        <h2>Why me ?</h2>
        <section class="objectives">
          <p>
          <ol type="1">
            {% for i in main_dict['PROFESSION'] %}
            <li>{{i['DESCRIPTION']}}</li>
            {% endfor %}
          </ol>
          </p>
        </section>
      </section>

      <section class="certificates">
        <h2>Certificates</h2>

        {% for i in main_dict['CERTIFICATES'] %}

        <ul class="timeline">
          <li class="event">
            <span class="duration">From {{i['START_DATE']}} To {{i['END_DATE']}}</span>

            <div class="content">
              <h3>{{i['CERTIFICATE_NAME']}}</h3>
              <h3>{{i['ISSUER']}}</h3>
              <p>{{i['LOCATION']}}</p>
              <p>{{i['DETAILS']}}</p>
              <p>
                <a href="{{i['CERTIFICATE_LINK']}}" style="color:blue;" target="_blank">Certificate Link</a>
              </p>
            </div>
          </li>
        </ul>
        <br>
        {% endfor %}
      </section>

      <section class="skills">
        <h2>Skills/Interests</h2>
        <ul>
          <li>
            <h3>Skills</h3>
            <ol type="1">
              {% for i in main_dict['SKILLS'] %}
              <li>{{i['SKILL_NAME']}}</li>
              {% endfor %}
            </ol>
          </li>
          <li>
            <h3>Interests</h3>
            <ol type="1">
              {% for i in main_dict['INTERESTS'] %}
              <li>{{i['INTEREST_NAME']}}</li>
              {% endfor %}
            </ol>
          </li>
        </ul>
      </section>
    </div>
  </div>

  <section class="project">
    <h2>Projects</h2>

    {% for i in main_dict['PROJECTS'] %}

    <ul class="timeline">
      <li class="event">
        <span class="duration">From {{i['START_DATE']}} To {{i['END_DATE']}}</span>

        <div class="content">
          <h3>{{i['PROJECT_NAME']}}</h3>
          <p>{{i['DETAILS']}}
          </p>
          {% if i['YOUTUBE_LINK'] != None %}
          <p>
            <a href="{{i['YOUTUBE_LINK']}}" style="color:blue;" target="_blank">Project
              YouTube Link</a>
          </p>
          {% endif %}

          {% if i['DEPLOYMENT_LINK'] != '' %}
          <p>
            <a href="{{i['DEPLOYMENT_LINK']}}" style="color:blue;" target="_blank">Project
              Deployment Link</a>
          </p>
          {% endif %}

          {% if i['GIT_LINK'] != '' %}
          <p>
            <a href="{{i['GIT_LINK']}}" style="color:blue;" target="_blank">Project
              Git Link</a>
          </p>
          {% endif %}
        </div>
      </li>
    </ul>
    <br>
    {% endfor %}
  </section>
</body>

</html>