<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
    href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="../static/style.css">
  <title>Biswajit Basak's Resume</title>
</head>

<body>
  <div class="resume">
    <div class="column">
      <section class="profile">
        <h1>{{main_dict['table1_dict']['name']}}</h1>
        <p><em>{{main_dict['table1_dict']['heading']}}</em></p>
        <img src="/static/images/photo.jpg" alt="">
      </section>

      <section class="section1">
        <h2>About Me</h2>
        <section class="objectives">
          <p>{{main_dict['table1_dict']['description']}}</p>
        </section>

        <br><br><br>

        <section class="education">
          <h2>Education</h2>
          <ul class="timeline">
            <li class="event">
              <span class="duration">From {{main_dict['table2_dict']['start_date']}} To {{main_dict['table2_dict']['end_date']}} ({{main_dict['table2_dict']['duration']}} Years) </span>
              <div class="content">
                <h3>{{main_dict['table2_dict']['degree']}}</h3>
                <p><em>{{main_dict['table2_dict']['university']}}</em></p>
                <p>CGPA / Percentage: {{main_dict['table2_dict']['score']}}</p>
              </div>
            </li>
          </ul>
        </section>

        <section class="experience">
          <h2>Experience</h2>
          <ul class="timeline">

            {% for i in main_dict['table3_dict']%}

            <li class="event">
              <span class="duration">From {{i['start_date']}} To {{i['end_date']}} ({{i['duration']}} Years)</span>
              <div class="content">
                <h3>{{i['designation']}}</h3>
                <p><em>{{i['company']}}, {{i['location']}}</em></p>
                <p>
                  {{i['details']}}
                </p>
              </div>
            </li>
            {% endfor %}

          </ul>
        </section>

        <br>

        <h2>Skills/Interests</h2>
        <ul>
          <li>
            <h3>Skills</h3>
            <ol type="1">
              {% for i in main_dict['table4_dict'] %}
                <li>{{i}}</li>
              {% endfor %}
            </ol>
          </li>
          <li>
            <h3>Interests</h3>
            <ol type="1">
              {% for i in main_dict['table5_dict'] %}
                <li>{{i}}</li>
              {% endfor %}
            </ol>
          </li>
        </ul>
      </section>
    </div>

    <div class="column">
      <section class="contact">
        <h2>Profile</h2>
        <br>
        <ul>

          <li><a href="mailto:{{main_dict['table1_dict']['email']}}">{{main_dict['table1_dict']['email']}}</a>
            <img src="/static/images/mail-64.png" alt="">
          </li>
          <li><a href="https://www.{{main_dict['table1_dict']['linkedin']}}"
              target="_blank">{{main_dict['table1_dict']['linkedin']}}</a>
            <img src="/static/images/linkedin-5-64.png" alt="">
          </li>
          <li><a href="https://{{main_dict['table1_dict']['git']}}" target="_blank">{{main_dict['table1_dict']['git']}}</a>
            <img src="/static/images/github-10-64.png" alt="">
          </li>
          <li><a href="https://www.{{main_dict['table1_dict']['kaggle']}}" target="_blank">{{main_dict['table1_dict']['kaggle']}}</a>
            <img src="/static/images/kaggle.png" alt="">
          </li>
        </ul>
      </section>

      <section class="section1">
        <h2>Why me ?</h2>
        <section class="objectives">
          <p>
          <ol type="1">
            {% for i in main_dict['table6_dict'] %}
                <li>{{i}}</li>
              {% endfor %}
          </ol>
          </p>
        </section>

        <section class="certificates">
          <h2>Certificates</h2>

          {% for i in main_dict['table7_dict'] %}

            <ul class="timeline">
              <li class="event">
                <span class="duration">From {{i['start_date']}} To {{i['end_date']}}</span>
                
                <div class="content">
                  <h3>{{i['certificate_name']}}</h3>
                  <h3>{{i['issuer']}}</h3>
                  <p>{{i['location']}}</p>
                  <p>{{i['details']}}</p>
                  <p>
                    <a style="color:blue;"
                      href="{{i['certificate_link']}}"
                      target="_blank">Certificate Link</a>
                  </p>
                </div>
              </li>
            </ul>
          <br>
          {% endfor %}
        </section>
      </section>
    </div>
  </div>

  <section class="project">
    <h2>Projects</h2>

    {% for i in main_dict['table8_dict'] %}

    <ul class="timeline">
      <li class="event">
        <span class="duration">From {{i['start_date']}} To {{i['end_date']}}</span>
        
        <div class="content">
          <h3>{{i['project_name']}}</h3>
          <p>{{i['details']}}
          </p>
          {% if i['youtube_link'] != None %}
          <p>
            <a style="color:blue;" href="{{i['youtube_link']}}" target="_blank">Project
              YouTube Link</a>
          </p>
          {% endif %}

          {% if i['project_deployment_link'] != '' %}
          <p>
            <a style="color:blue;" href="{{i['project_deployment_link']}}" target="_blank">Project
              Deployment Link</a>
          </p>
          {% endif %}

          {% if i['project_git_link'] != '' %}
          <p>
            <a style="color:blue;" href="{{i['project_git_link']}}" target="_blank">Project
              Git Link</a>
          </p>
          {% endif %}
        </div>
      </li>
    </ul>
    <br>
    {% endfor %}
</body>

</html>
